<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
    Header set Content-Security-Policy "script-src 'self' https://www.google.com"
</IfModule>

<IfModule mod_headers.c>
    # only for Apache > 2.2.4:
    Header edit Set-Cookie ^(.*)$ $1;HttpOnly;Secure
    # lower versions:
    Header set Set-Cookie HttpOnly;Secure
</IfModule>

<IfModule mod_headers.c>
    Header always set X-FRAME-OPTIONS "DENY"
</IfModule>
